node_modules/
dist/
.env
coverage/
Data/Users/
Data/Packages/
coverage/
Tests/DebloatTestFiles/BE_TEST_Debloated/
Tests/DebloatTestFiles/BE_TEST_Debloated.tar.gz
Tests/DebloatTestFiles/BE_TEST_Debloated.zip